@font-face {
  font-family: "MS Sans Serif";
  src: url("../assets/fonts/ms-sans-serif.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
#windows95 {
  width: 100vw;
  height: 100vh;
  background: #008080;
}

.text__underline {
  text-decoration: underline;
  color: black;
}

.window__x__btn {
  cursor: pointer;
  background-color: #c0c0c0;
  border-top: 2px solid #deebf3;
  border-left: 2px solid #deebf3;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
  position: relative;
  transition: top 0.1s ease, left 0.1s ease;
}
.window__x__btn:active {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.desktop {
  position: relative;
  height: calc(100vh - 50px);
}
.desktop .desktop__shortcut {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
.desktop .desktop__shortcut .desktop__shortcut__icon {
  height: 70%;
  cursor: pointer;
}
.desktop .desktop__shortcut .desktop__shortcut__name {
  cursor: pointer;
  font-size: 0.9rem;
}

.taskbar {
  display: flex;
  height: 50px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  align-items: center;
}
.taskbar .taskbar__item {
  display: flex;
  align-items: center;
  height: 100%;
}
.taskbar .taskbar__item--window {
  height: 40px;
  margin-left: 5px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding: 0 5px;
  color: black;
  cursor: pointer;
}
.taskbar .taskbar__item--window.active {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.taskbar .taskbar--start {
  margin-left: 5px;
}
.taskbar .taskbar--start .checked {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.taskbar .taskbar--clock {
  margin-left: auto;
  margin-right: 5px;
}
.taskbar .taskbar--clock .taskbar__time {
  padding: 8px;
  font-size: 1.3em;
  color: black;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.taskbar .taskbar__btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 80%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.taskbar .taskbar__btn .taskbar__btn__text {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.taskbar .taskbar__btn .taskbar__btn__img {
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.taskbar .taskbar__menu {
  position: absolute;
  background: #c3c6cd;
  width: 275px;
  bottom: 50px;
  height: 400px;
  border-top: 2px solid #deebf3;
  border-left: 2px solid #deebf3;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: none;
  flex-direction: row;
}
.taskbar .taskbar__menu .taskbar__menu__side {
  background: #85888f;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.taskbar .taskbar__menu .taskbar__menu__side .taskbar__side__text {
  transform: rotate(-90deg);
  font-size: 27px;
}
.taskbar .taskbar__menu .taskbar__menu__side .taskbar__side__windows {
  font-weight: bold;
  color: #c3c6cd;
  margin-bottom: 55px;
}
.taskbar .taskbar__menu .taskbar__menu__side .taskbar__side__ninefive {
  font-weight: normal;
  color: white;
  margin-bottom: 45px;
}
.taskbar .taskbar__menu .taskbar__menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__item {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__item .taskbar__menu__icon {
  width: 70px;
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__item .taskbar__menu__title {
  font-size: 18px;
  color: black;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__item .taskbar__menu__arrowright {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
  margin-left: auto;
  margin-right: 15px;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__sub {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: blue;
  top: 0px;
  left: 250px;
}
.taskbar .taskbar__menu .taskbar__menu__list .taskbar__menu__sub--open {
  display: flex;
}
.taskbar .taskbar__menu--open {
  display: flex;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
  min-width: 40%;
  top: 50px;
  left: 200px;
  height: 500px;
  width: 650px;
  resize: none;
  overflow: hidden;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.window .window__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000082;
  height: 7%;
}
.window .window__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.window .window__section .window__welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 15px;
}
.window .window__section .window__welcome > div {
  display: flex;
  height: 100%;
}
.window .window__section .window__welcome > h2 {
  height: 15%;
  align-content: center;
  color: black;
  font-size: 1.5rem;
  font-family: "Times Ten", "Times New Roman", serif;
}
.window .window__section .window__welcome .window__welcome__message {
  background-color: #ffffbd;
  padding: 25px;
}
.window .window__section .window__welcome .window__welcome__message p {
  color: black;
}
.window .window__section .window__welcome .window__welcome__btns button {
  color: black;
}
.window .window__section .window__internet__explorer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.window .window__section .window__internet__explorer > img {
  width: 100%;
}
.window .window__section .window__internet__explorer button {
  display: inline-block;
  padding: 4px 12px;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #c0c0c0;
  border: 2px solid #000;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  width: 80px;
  position: absolute;
  margin-right: 30px;
  bottom: 10px;
}
.window .window__section .window__internet__explorer button:active {
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  background-color: #a0a0a0;
}
.window .window__section .window__internet__explorer button:hover {
  background-color: #b0b0b0;
}
.window .window__section .window__internet__explorer button:focus {
  outline: 1px dotted #000;
}

#ibm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.ibm__frame {
  background: #D3D3D3;
  width: 700px;
  height: 650px;
  border: 5px solid #3d3b3b;
  box-shadow: 0px 0px 0px 10px #b6b6b6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}

.ibm__frame.ibm__frame--fullscreen {
  width: calc(min(100vw, 100vh) - 50px);
  height: calc(min(100vw, 100vh) - 50px);
  border: none;
  box-shadow: none;
  transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}

.ibm__frame__screen.ibm__frame__screen--fullscreen {
  height: calc(100% - 150px);
  margin: 20px 20px 0 20px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px 5px #000;
  transition: height 0.5s ease, margin 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}

.ibm__frame__screen {
  height: 450px;
  margin: 35px 35px 0px 35px;
  border: 3px solid #222121;
  border-radius: 20px;
  box-shadow: inset 0px 0px 10px 10px #000;
  transition: height 0.5s ease, margin 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}

.ibm__frame--lower {
  height: 80px;
  border-top: 5px solid #3d3b3b;
  font-size: 62px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ibm__frame--lower p {
  font-size: 50px;
  color: #3d3b3b;
}

.ibm__frame--logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  height: 100%;
  margin: 0 auto;
}

.ibm-frame-on-off-button {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ibm-frame-on-off-button-circle {
  background-color: gray;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 5px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.ibm-frame-on-off-button-circle:hover {
  background: #d20404;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
#ibm__frame__terminal {
  background-color: #131;
  background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-family: monospace;
  font-size: 17px;
  color: rgba(128, 255, 128, 0.8);
  position: relative;
  overflow-y: auto;
}

#ibm__frame__terminal::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: radial-gradient(ellipse 50% 15% at 50% 15%, rgba(255, 255, 255, 0.05), transparent), radial-gradient(ellipse 50% 10% at 50% 12%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 5% at 50% 10%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 3% at 50% 9%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0, 0, 0, 0.5), transparent), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
  border-radius: 15px;
}

.cursor {
  display: inline-block;
  width: 12px;
  background: rgba(128, 255, 128, 0.8);
  vertical-align: bottom;
  background: pink;
  height: 1em;
  animation: blink 1s linear 0s infinite;
}

.terminal__text {
  text-shadow: 0 0 1ex #131, 0 0 2px #00DC16;
  margin-left: 10px;
  margin-top: 5px;
  color: #00DC16;
}

.terminal__user__input {
  margin-left: 3px;
}

.prompt__line span {
  text-shadow: 0 0 1ex #131, 0 0 2px #00DC16;
  color: #00DC16;
}

.prompt__line {
  margin-top: 5px;
  margin-left: 10px;
}

#ibm__frame__terminal.off {
  background-color: black;
  background-image: none;
  color: black;
}

#ibm__frame__terminal img.startup-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: none;
}

*, *:before, *:after {
  cursor: default;
  image-rendering: pixelated;
  box-sizing: border-box;
  font-family: "MS Sans Serif", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
  overflow: hidden;
}