// Colors
$text-color: #FFFFFF;
$windows95-desktop-background-color: #008080;
$windows95-gray-color: #c0c0c0;

// Font
$font-family: "MS Sans Serif", Tahoma, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-path: "../../assets/fonts/";

// Spacing
$padding-small: 5px;
$padding-medium: 10px;
$margin-small: 5px;
$margin-medium: 10px;


// Shadow
$box-shadow: 0 -1px 0 #7f7f7f inset;


// Button
$button-color: $windows95-gray-color;
$button-radius: 5px;


// Taskbar
$taskbar-height: 50px;