@use "variables";
@use "mixins";

@use "windows/microsoft-internet-explorer";

#windows95 {
	width: 100vw;
	height: 100vh;
	background: variables.$windows95-desktop-background-color;
}

.text__underline {
    text-decoration: underline;
    color: black;
}

.window__x__btn,
.window__underline__btn {
    cursor: pointer;
    background-color: variables.$windows95-gray-color;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    position: relative;
    transition: top 0.1s ease, left 0.1s ease;

    &:active {
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
}

.desktop {
    position: relative;
	height: calc(100vh - variables.$taskbar-height);

	.desktop__shortcut {
		width: 80px;
		height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		margin: 10px;
		cursor: pointer;

		.desktop__shortcut__icon {
			height: 70%;
			cursor: pointer;
		}

		.desktop__shortcut__name {
			cursor: pointer;
            font-size: 0.9rem;
		}
	}
}

.taskbar {
    display: flex;
    height: variables.$taskbar-height;
    background-color: variables.$windows95-gray-color;
    border-top: 2px solid white;
    align-items: center;

    .taskbar__item {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .taskbar__item--window {
        height: 40px;
        margin-left: 5px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        padding: 0 5px;
        color: black;
        cursor: pointer;

        &.active {
            border-top: 3px solid black;
            border-left: 3px solid black;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    }

    .taskbar--start {
        margin-left: 5px;

        .checked {
            border-top: 3px solid black;
            border-left: 3px solid black;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    }

    .taskbar--clock {
        margin-left: auto;
        margin-right: 5px;

        .taskbar__time {
            padding: 8px;
            font-size: 1.3em;
            color: black;
            border-top: 3px solid gray;
            border-left: 3px solid gray;
            border-bottom: 2px solid white;
            border-right: 2px solid white; 
        }
    }

    .taskbar__btn {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        height: 80%;

        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 3px solid black;
        border-right: 3px solid black;

        .taskbar__btn__text {
            color: black;
            font-size: 1.5em;
            font-weight: bold;
            cursor: pointer;
        }

        .taskbar__btn__img {
            height: 45px;
            width: 45px;
            cursor: pointer;
        }
    }

    .taskbar__menu {
        position: absolute;
        background: #c3c6cd;
        width: 275px;
        bottom: variables.$taskbar-height;
        height: 400px;
        border-top: 2px solid #deebf3;
        border-left: 2px solid #deebf3;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        display: none;
        flex-direction: row;

        .taskbar__menu__side {
            background: #85888f;
            width: 15%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            .taskbar__side__text {
                transform: rotate(-90deg);
                font-size: 27px;
            }

            .taskbar__side__windows {
                font-weight: bold;
                color: #c3c6cd;
                margin-bottom: 55px;
            }

            .taskbar__side__ninefive {
                font-weight: normal;
                color: white;
                margin-bottom: 45px;
            }
        }

        .taskbar__menu__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;

            .taskbar__menu__item {
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .taskbar__menu__icon {
                    width: 70px;
                    height: 60px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-left: 2px;
                }

                .taskbar__menu__title {
                    font-size: 18px;
                    color: black;
                }

                .taskbar__menu__arrowright {
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid black;
                    margin-left: auto;
                    margin-right: 15px;
                }
            }

            .taskbar__menu__sub {
                position: absolute;
                display: none; // this need to be fixed
                // width: 200px;
                // height: 200px;
                // background-color: blue;
                // top: 0px;
                // left: 250px;
                // background: #c3c6cd;
                // border-top: 2px solid #deebf3;
                // border-left: 2px solid #deebf3;
                // border-right: 2px solid black;
                // border-bottom: 2px solid black;
                // flex-direction: column;
                // width: 180px;
                // // left: 2s50px;
                // left: 150px;
                // padding: 0;
                // top: 0;
                // // display: none;  
                // bottom: 230px;
                // position: absolute;

                // .taskbar__menu__sub__item {
                //     display: flex;
                //     align-items: center;
                // }
            }

            .taskbar__menu__sub--open {
                display: flex;
            }
        }
    }

    .taskbar__menu--open {
        display: flex;
    }
}


.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: variables.$windows95-gray-color;
    min-width: 40%;
    top: 50px;
    left: 200px;
    height: 500px;
    width: 650px;
    resize: none;
    overflow: hidden;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

    .window__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #000082;
        height: fit-content;

        .window__header__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30px;

            .window__header__icon {
                height: 20px;
                margin: 0 5px;
            }

            .window__header__title-item {
                display: flex;
                align-items: center;
            }
        }

        .window__header__menu {
            width: 100%;
            background-color: #c0c0c0;
            padding: 5px;

            .window__header__menu-item {
                margin-right: 10px;
                cursor: pointer;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .window__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .window__welcome {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 15px;

            > div {
                display: flex;
                height: 100%;
            }

            > h2 {
                height: 15%;
                align-content: center;
                color: black;
                font-size: 1.5rem;
                font-family: 'Times Ten', 'Times New Roman', serif;
            }

            .window__welcome__message {
                background-color: #ffffbd;
                padding: 25px;
                p {
                    color: black;
                }
            }

            .window__welcome__btns {

                button {
                    color: black;
                }
            }
        }

        .window__about__internet__explorer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            > img {
                width: 100%;
                // object-fit: cover;
            }

            button {
                @include mixins.windows95-button(80px);
                position: absolute;
                margin-right: 30px;
                bottom: 10px;
            }
        }
    }
}
