@use "variables" as *;
@use "mixins" as *;
@use "windows/microsoft-internet-explorer";


#windows95 {
    font-family: $windows95-font-family;
    color: white;
    width: 100vw;
    height: 100vh;
    background: $windows95-desktop-background-color;
}

.text__underline {
    text-decoration: underline;
    color: black;
}

.desktop {
    position: relative;
    height: calc(100vh - $windows95-taskbar-height);

    .desktop__shortcut {
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 10px;
        cursor: pointer;

        .desktop__shortcut__icon {
            height: 70%;
            cursor: pointer;
        }

        .desktop__shortcut__name {
            cursor: pointer;
            font-size: 0.9rem;
        }
    }
}

.taskbar {
    display: flex;
    height: $windows95-taskbar-height;
    background-color: $windows95-gray-color;
    border-top: 2px solid white;
    align-items: center;

    .taskbar__item {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .taskbar__item--window {
        @include windows95-border(white, white, black, black, 2px, 3px);
        height: 40px;
        margin-left: 5px;
        padding: 0 5px;
        color: black;
        cursor: pointer;

        &.active {
            @include windows95-border(black, black, white, white);
        }
    }

    .taskbar--start {
        margin-left: 5px;

        .checked {
            @include windows95-border(black, black, white, white, 3px, 2px);
        }
    }

    .taskbar--clock {
        margin-left: auto;
        margin-right: 5px;

        .taskbar__time {
            padding: 8px;
            font-size: 1.3em;
            color: black;
            @include windows95-border(gray, gray, white, white);
        }
    }

    .taskbar__btn {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        height: 80%;

        @include windows95-border(white, white, black, black, 2px, 3px);

        .taskbar__btn__text {
            color: black;
            font-size: 1.7em;
            font-weight: bold;
            cursor: pointer;
            font-family: $windows95-font-family;
        }

        .taskbar__btn__img {
            height: 45px;
            width: 45px;
            cursor: pointer;
        }
    }

    .taskbar__menu {
        position: absolute;
        background: #c3c6cd;
        width: 275px;
        bottom: $windows95-taskbar-height;
        height: 400px;
        @include windows95-border(white, white, black, black);
        display: none;
        flex-direction: row;
        overflow: visible;

        .taskbar__menu__side {
            background: #85888f;
            width: 15%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            .taskbar__side__text {
                transform: rotate(-90deg);
                font-size: 27px;
            }

            .taskbar__side__windows {
                font-weight: bold;
                color: #c3c6cd;
                margin-bottom: 55px;
            }

            .taskbar__side__ninefive {
                font-weight: normal;
                color: white;
                margin-bottom: 45px;
            }
        }

        .taskbar__menu__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            position: relative;
            overflow: visible;

            .taskbar__menu__item {
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: $windows95-dark-blue-color;
                    
                    > .taskbar__menu__title,
                    > .taskbar__menu__title .text__underline { 
                        color: white;
                    }
                
                    > .taskbar__menu__arrowright {
                        @include windows95-menu-arrow(white);
                    }
                }

                .text__underline {
                    cursor: pointer;
                }

                .taskbar__menu__icon {
                    width: 70px;
                    height: 60px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-left: 2px;
                    cursor: pointer;
                }

                .taskbar__menu__title {
                    font-size: 18px;
                    color: black;
                    cursor: pointer;
                }

                .taskbar__menu__arrowright {
                    @include windows95-menu-arrow(black);
                    margin-left: auto;
                    margin-right: 15px;
                    cursor: pointer;
                }
            }

            .taskbar__menu__sub {
                position: absolute;
                display: none;
                left: 98%;
                top: -1px;
                background: #c3c6cd;
                width: 200px;                
                padding: 5px;
                z-index: 10;
                overflow: visible;

                @include windows95-border(white, white, black, black);
            }

            .taskbar__menu__sub--open {
                display: block;
            }
        }
    }

    .taskbar__menu--open {
        display: flex;
    }
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $windows95-gray-color;
    min-width: 40%;
    top: 50px;
    left: 200px;
    height: 500px;
    width: 650px;
    resize: none;
    overflow: hidden;
    @include windows95-border(white, white, black, black, 2px, 3px);

    .window__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #000082;
        height: fit-content;

        .window__header__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30px;

            .window__header__icon {
                height: 20px;
                margin: 0 5px;
            }

            .window__header__title-item {
                display: flex;
                align-items: center;
            }

            
            .window__x__btn,
            .window__underline__btn {
                cursor: pointer;
                background-color: $windows95-gray-color;
                @include windows95-border(white, white, black, black);
                color: black;
                position: relative;
                transition: top 0.1s ease, left 0.1s ease;

                &:active {
                    @include windows95-border(white, white, black, black, 3px, 2px);
                }
            }
        }

        .window__header__menu {
            width: 100%;
            background-color: #c0c0c0;
            padding: 5px;

            .window__header__menu-item {
                margin-right: 10px;
                cursor: pointer;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .window__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .window__welcome {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 15px;

            > div {
                display: flex;
                height: 100%;
            }

            > h2 {
                height: 15%;
                align-content: center;
                color: black;
                font-size: 1.5rem;
                font-family: 'Times Ten', 'Times New Roman', serif;
            }

            .window__welcome__message {
                background-color: #ffffbd;
                padding: 25px;
                p {
                    color: black;
                }
            }

            .window__welcome__btns {

                button {
                    color: black;
                }
            }
        }

        .window__about__internet__explorer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            > img {
                width: 100%;
                // object-fit: cover;
            }

            button {
                @include windows95-button(80px);
                position: absolute;
                margin-right: 30px;
                bottom: 10px;
            }
        }
    }
}
