<div id="shut-down-windows">
  <div>
    <img src="assets/images/windows95/windows95-shutdown.ico" alt="Shut Down">
    <form>
      <p>Are you sure you want to:</p>
  
      <input type="radio" id="shutdwon" name="shutdown-option" value="shutdown" checked>
      <label for="shutdwon"><span class="text__underline">S</span>hut down the computer?</label><br>
  
      <input type="radio" id="restart" name="shutdown-option" value="restart">
      <label for="restart"><span class="text__underline">R</span>estart the computer?</label><br>
  
      <input type="radio" id="ms-dos" name="shutdown-option" value="ms-dos">
      <label for="ms-dos">Restart the computer in <span class="text__underline">M</span>S-DOS mode?</label>
    </form>
  </div>

    <span>
      <button>
        <span class="text__underline">Y</span>es
      </button>
      <button>
        <span class="text__underline">N</span>o
      </button>
      <button>
        <span class="text__underline">H</span>elp
      </button>
    </span>
</div>