<div class="window__welcome">
	<h2>Welcome to Windows95</h2>
	<div>
		<div class="window__welcome__message">
			<p>Did you know...</p>
			<p>To open a program, you just click the Start button, and then click the program's icon.</p>
			<img src="assets/images/windows95/window95-welcome-arrow-start.png">
		</div>
		<div class="window__welcome__btns">
			<button>What's <span class="text__underline">N</span>ew</button>
			<button><span class="text__underline">O</span>nline Registration</button>
			<button>Close</button>
		</div>
	</div>
</div>
