<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<link rel="stylesheet" href="../assets/css/home.css" type="text/css">
		<link rel="stylesheet" href="../assets/css/computer.css" type="text/css">
	</head>
	<body>
		<center>
	      <!--   <div class="ibm-frame">
            	<div class="ibm-screen"> -->		
					<div class="container">
						<table class="table">
							<tbody>
							   	<tr>
							      	<td style="padding: 5px 5px 0px 5px;">
										<center>
											<div class="table-div" style="border-radius: 15px 15px 0px 0px; border-bottom: 0px;">
												<img src="../assets/images/knight-title.png">
											</div>
										</center>
							      	</td>
							   	</tr>
							</tbody>
						</table>

						<table class="table">
							<tbody>
							   	<tr>
							      	<td>
							         	<center>
								            <div class="table-div">
								               <p style="margin: 4px;"><a href="">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;</a> | <a href="">&nbsp;&nbsp;&nbsp;About Me&nbsp;&nbsp;&nbsp;</a> | <a href="">&nbsp;&nbsp;&nbsp;Portfolio&nbsp;&nbsp;&nbsp;</a> | <a href="">&nbsp;&nbsp;&nbsp;Projects&nbsp;&nbsp;&nbsp;</a> | <a href="">&nbsp;&nbsp;&nbsp;Diary&nbsp;&nbsp;&nbsp;</a></p>
								            </div>
							         	</center>
							      	</td>
							   	</tr>
							</tbody>
						</table>

						<table class="table">
							<tbody>
							   	<tr>
							      	<td style="width: 30%; vertical-align: top;">
							      		<div class="table-div" style="display: flex; flex-direction: column;">
							      			<div style="display: flex;">
								      			<img src="../assets/images/placeholder-profile-picture-man.jpg" width="65px" style="margin: 5px">
								         		<p style="margin-top: 5px;">M.T.F van der Zalm</p>
							      			</div>
							      			<ul>
							      				<li><p>Name: Mart</p></li>
							      				<li><p>Born: 21-05-2006</p></li>
							      				<li><p>Country: Netherlands</p></li>
							      				<li><p>Hobby: Gym, Studying Japanese</p></li>
							      				<li><p>Addiction: Programming</p></li>
							      			</ul>
								         </div>
							      	</td>

							      	<td style="width: 70%; vertical-align: top;">
							      		<div class="table-div">
							      			<div class="table-div-title">
							      				<h2>私のホームページへようこそ</h2>
							      			</div>
							      			<div>
							      				<p style="margin: 5px">
							      					Hi there! I'm Mart, and this website is my personal corner of the internet where I share a bit about who I am, what I do, and what I'm passionate about.
							      					Whether you're here to learn more about me, explore my portfolio, or dive into my latest projects, there's something here for everyone.
							      					<br>
							      					<br>
							      					Feel free to explore, and don’t hesitate to reach out if you want to chat or collaborate!
							      					Enjoy your visit, and I hope you find something that sparks your interest.
							      				</p>
							      			</div>
							      		</div>
							      	</td>

							   	</tr>
							</tbody>
						</table>

						<table class="table">
							<tbody>
								<tr>
									<td>
										<div class="table-div" style="width: 225px;">
											<div class="table-div-title">
						                   		<p>アップデート</p>												
											</div>
						               		<ul>
						               			<li><p>18-08-2024: More updates</p></li>
							      				<li><p>17-08-2024: Start of the website</p></li>
							      			</ul>
										</div>
									</td>
									<td>
										<div class="table-div" style="display: flex; flex-direction: column;">
											<div class="table-div-title">
												<p>Placeholder</p>
											</div>
										</div>
									</td>
									<td>
										<div class="table-div" style="display: flex; flex-direction: column;">
											<div class="table-div-title">
												<p>Placeholder</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			    <!-- </div> -->
	       <!--      <div class="ibm-frame-lower">
	                <p style="height: 100%;">|||||||||</p>
	                <div class="ibm-frame-logo">
                    	<img src="../assets/images/ibm-logo.png" height="35px">
                	</div>
	                <div class="ibm-frame-on-off-button">
	                    <div class="ibm-frame-on-off-button-circle" onclick="toggleFullScreen()"></div>
	                </div>
	            </div>  -->
        	<!-- </div> -->
        </center>
	</body>
	<script src="../assets/js/computer.js" type="text/javascript"></script>
</html>