@font-face {
  font-family: "MS Sans Serif";
  src: url("../../assets/fonts/ms-sans-serif.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
main {
  width: 100vw;
  height: 100vh;
  background: #008080;
}

.desktop {
  height: calc(100vh - 60px);
}
.desktop .desktop__shortcut {
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
.desktop .desktop__shortcut .desktop__shortcut__icon {
  height: 70%;
  cursor: pointer;
}
.desktop .desktop__shortcut .desktop__shortcut__name {
  cursor: pointer;
}

.taskbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #c0c0c0;
  border-top: 2px solid #fff;
  box-shadow: 0 -1px 0 #7f7f7f inset;
  padding: 0 10px;
}
.taskbar .taskbar__start {
  display: flex;
  align-items: center;
}
.taskbar .taskbar__btn {
  background: none;
  border: none;
  cursor: pointer;
}
.taskbar .taskbar__btn__img {
  height: 40px;
  width: 80px;
}
.taskbar .taskbar__search {
  margin-left: 10px;
  flex-shrink: 0;
}
.taskbar .taskbar__search .taskbar__input {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
.taskbar .taskbar__clock {
  margin-left: auto;
}
.taskbar .taskbar__clock p {
  margin: 0;
}

*, *:before, *:after {
  cursor: default;
  image-rendering: pixelated;
  box-sizing: border-box;
  font-family: MS Sans Serif, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
  overflow: hidden;
}