body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.windows {
    position: relative;
	background-color: #008080;
	width: 100%;
    height: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.icon {
	display: flex;
	flex-direction: column;
    width: 90px;
    height: 90px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.icon-image {
    width: 100%;
    height: 100%;
}

.icon-label {
    color: white;
    font-size: 14px;
}

.taskbar {
    width: 100%;
    height: 40px;
    background-color: #c0c0c0;
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 0 #7f7f7f inset;
}

.start-button {
    margin-left: 3px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.start-button img {
 	display: block;
 	width: 100px;
}

.start-button:active {
    box-shadow: inset 2px 2px 5px #7f7f7f;
    outline: 2px inset #7f7f7f;
}

.taskbar-clock {
    padding-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    color: black;
}

.start-time {
    width: 80px;
    height: 72%;
    background: #c3c6cd;
    border-top: 2px solid #85888f;
    border-left: 2px solid #85888f;
    border-right: 2px solid #deebf3;
    border-bottom: 2px solid #deebf3;
    margin: 3px;
    display: flex;
    align-items: center;
}

.start-time-text {
    margin: auto;
    font-size: 12px;
}

.start-menu {
    position: absolute;
    background: #c3c6cd;
    width: 250px;
    bottom: 40px;
    height: 45%;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    display: none;
    flex-direction: row;
}

.start-menu-side {
    background: #85888f;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.vertical-text {
    transform: rotate(-90deg);
    font-size: 21px;
}

.vertical-text.side-windows {
    font-weight: bold;
    color: #c3c6cd;
    font-family: Tahoma;
    margin-bottom: 45px;
}

.vertical-text.side-ninefive {
    font-weight: normal;
    color: white;
}

.start-menu-items {
    padding: 0;
    width: 100%;
}

.start-menu-items .icon {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px; 
}

.start-menu-items-item {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.start-menu-items-item:hover {
    background: #00207d;
}

.start-menu-items-item:hover .start-menu-items-item-title {
    color: white;
}

.start-menu-items-item:hover .start-menu-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
}

.start-menu-items-list1 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #85888f;
}

.start-menu-items-list2 {
    margin: 0;
    padding: 0;
    border-top: 1px solid #deebf3;
}

.start-menu-sub {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    flex-direction: column;
    width: 180px;
    left: 250px;
    padding: 0;
    position: absolute;
    display: none;   
}

.start-menu-sub .icon {
    width: 23px;
    height: 23px;
}

.start-menu-sub-items-item {
    display: flex;
    align-items: center;
}

.start-menu-sub-items-item:hover {
    background: #00207d;
}

.start-menu-sub-items-item:hover .start-menu-sub-items-item-title {
    color: white;
}

.start-menu-sub-items-item:hover .start-menu-sub-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
}

.start-menu-sub-items-item-title {
    margin: 7px 0;
}

.sub-programs {
    bottom: 230px;
}

.desktop-icon {
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-icon-icon {
    height: 50px;
}

.desktop-icon-text {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

.desktop-icon:hover {
    cursor: pointer;
}

.start-menu-items-item-arrowright {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    margin-left: auto;
    margin-right: 7px;
}

.underline {
    text-decoration: underline;
}

.menu-open {
    display: flex;
}



























.window {
    position: absolute;
    width: 300px;
    border: 2px solid #000; /* Outer border, black */
    border-top-color: #FFF; /* Top border shadow */
    border-left-color: #FFF; /* Left border shadow */
    border-right-color: #808080; /* Right border highlight */
    border-bottom-color: #808080; /* Bottom border highlight */
    box-shadow: 2px 2px #000; /* Shadow to create the inset effect */
    background-color: #C0C0C0; /* Classic grey background */
}

.window-header {
    background-color: #000080;
    color: white;
    padding: 5px;
    position: relative;
    font-family: 'Tahoma', sans-serif;
    cursor: default;
}

.window-content {
    padding: 10px;
}

.window .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-color: #c0c0c0; /* Grey background */
    border: 1px solid #000;
    padding: 0 5px;
    font-weight: bold;
    color: black;
}


.close-button:active {
    background-color: #A0A0A0; /* Darker grey on press */
}

